#intro {
    height: 100vh;
}

.intro-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.intro-title {
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 800;
    white-space: nowrap;
    text-indent: -.5vw;
    letter-spacing: -.03vw;
}

.intro-text {
    width: 100%;
    height: 50vh;
    background: var(--mainBg-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.intro-text .text {
    font-size: 3vw;
    line-height: 1.5;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    position: relative;
    z-index: 100;
    transition: .35s;
    cursor: pointer;
}


.intro-text .img {
    position: absolute;
    width: 550px;
    height:500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    filter: grayscale(100%);
    opacity: 0;
    background: url(../../img/logo9.png);
    background-repeat: no-repeat;
    background-position: 0 center;
}

.intro-text:hover .text {
    opacity: 0;
    z-index: -1;
}

.intro-text:hover .img {
    opacity: 1;
    filter: grayscale(0);
}

.intro-lines {
    width: 100%;
 
}
.intro-lines .line{
    width: 100%;
    height: 1px;
    background: var(--mainBg-color);
    margin-top: 0.5vw;
    margin-bottom: 0;
    display: none;
}

.intro-lines.bottom .line {
    margin-bottom: .5vw;
    display: none;
}

.intro-lines.bottom .line:nth-child(1) {
    height: 25px;

}

.intro-lines.bottom .line:nth-child(2) {
    height: 17px;
}


.intro-lines.bottom .line:nth-child(3) {
    height: 13px;
}

.intro-lines.bottom .line:nth-child(4) {
    height: 9px;
}

.intro-lines.bottom .line:nth-child(5) {
    height: 5px;
}

.intro-lines.bottom .line:nth-child(6) {
    height: 2px;
}

.intro-lines.bottom .line:nth-child(7) {
    height: 1px;
}

@media screen and (max-width:768px) {
    .intro-lines.bottom .line {
        display: block;
    }
    .intro-text .text {
        font-size: 24px;
    }
}